.post {
  display: block;
  padding-bottom: 2em;
  max-width: 200px;
}

.image {
  width: 150px !important;
  max-width: 150px !important;
  height: 150px !important;
  margin-bottom: 0.3em;
  object-fit: contain;

  .picture {
    max-width: 200px;
  }

}



.small {
  font-size: 0.7em;
  margin-bottom: 1em;
}